body {
  background: white;
}

ul {
  line-height: 1;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* dm-serif-display-italic - latin */
@font-face {
  font-family: 'DM Serif Display';
  font-style: italic;
  font-weight: 400;
  src: url("../../resources/fonts/dm-serif-display-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../resources/fonts/dm-serif-display-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../resources/fonts/dm-serif-display-v5-latin-italic.woff2") format("woff2"), url("../../resources/fonts/dm-serif-display-v5-latin-italic.woff") format("woff"), url("../../resources/fonts/dm-serif-display-v5-latin-italic.ttf") format("truetype"), url("../../resources/fonts/dm-serif-display-v5-latin-italic.svg#DMSerifDisplay") format("svg");
  /* Legacy iOS */
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../../resources/fonts/roboto-v27-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../resources/fonts/roboto-v27-latin-100.eot?#iefix") format("embedded-opentype"), url("../../resources/fonts/roboto-v27-latin-100.woff2") format("woff2"), url("../../resources/fonts/roboto-v27-latin-100.woff") format("woff"), url("../../resources/fonts/roboto-v27-latin-100.ttf") format("truetype"), url("../../resources/fonts/roboto-v27-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
  font-size: 10px;
}

.nav-logo {
  font-family: 'DM Serif Display', 'Times New Roman', Times, serif;
  font-size: 5rem;
}

@media (max-width: 480px) {
  .nav-logo {
    font-size: 3rem;
  }
}

.nav-link {
  font-size: 1rem;
}

footer {
  font-size: 1rem;
}

h1,
p,
a,
li {
  color: black;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'header' 'main';
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr minmax(0px, 600px) 1fr;
      grid-template-columns: 1fr minmax(0px, 600px) 1fr;
}

.content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container img {
  height: 75vh;
}

@media (max-width: 480px) {
  .img-container img {
    padding: 0 1rem;
  }
}

footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .container-nav .nav-logo {
    padding-left: 20px;
  }
}

.btn-container {
  display: none;
}

@media (max-width: 480px) {
  .btn-container {
    display: block;
    cursor: pointer;
    padding-right: 25px;
  }
}

.nav-logo {
  text-align: left;
}

.nav-menu {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
}

@media (max-width: 480px) {
  .nav-menu {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 4rem;
    right: -100%;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
  }
}

.nav-menu.show {
  right: 0;
  display: block;
}

.nav-link {
  will-change: transform;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.nav-link:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (max-width: 480px) {
  .nav-link:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nav-btn {
  text-decoration: none;
  border: none;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

.nav-btn:hover {
  background: red;
}

.nav-btn.show {
  background-color: darkblue;
}
/*# sourceMappingURL=main.css.map */