.content {
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  @include respond-to('large') {
    height: unset;
  }
}

.pages {
  max-width: $content-max-width;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 70vh;
  object-fit: cover;


  @include respond-to('large') {
    flex-direction: column;
  }
}

.img-container > img {
  padding-right: 1px;

  &:last-child {
    padding-right: 0px;
  }

  @include respond-to('large') {
    padding-bottom: 1px;

    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.pages > p {
  padding: 10px 10px;
  text-align: justify;
}

