.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 75vh;
  height: -webkit-fill-available;

  @include respond-to('small') {
    padding: 0 1rem;
  }  
}

