.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;

  @include respond-to('small') {
    text-align: center;
  }    
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to('small') {
    flex-direction: column;
  }   
}

.logo {
  padding-bottom: 1em;
  padding-top: 1em;

  @include respond-to('small')
  {
    display: inline-grid;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.logo h1{
  text-align: left;
}

nav ul {
  text-align: right;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  padding-top: 1em;

  @include respond-to('small') {
    text-align: center;
    display: none;
  } 
}
