.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: none;
  cursor: pointer;
  padding: 1em 0;

  @include respond-to('large') {
    display: block;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;

  @include respond-to('small') {
    flex-direction: column;
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }
}

.nav-menu-container {
  display: block;

  @include respond-to('large') {
    display: none;
  }
}

.nav-menu-container.show {
  display: block;
}
