.nav-btn {
  text-decoration: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(0, 0 , 0);
  border-radius: 50%;
  transition: 0.3s;

  @include respond-to('small')
  {
    width: 1rem;
    height: 1rem; 
  }
}

.nav-btn.show {
  border-radius: 0;
  transform: rotate(-90deg);
}