.nav-btn {
    text-decoration: none;
    border: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0 , 0);
    border-radius: 50%;
}

.nav-btn:hover {
    background: red;
}

.nav-btn.show {
    background-color: darkblue;
}