.nav-link {
  will-change: transform;
  transition: transform 250ms ease-out;
}

.nav-link:hover {
  transform: translateX(10px);

  @include respond-to('small')
  {
    transform: translateX(0px);
  }
}