.page-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-images > img {
  width: 90%;
  padding-bottom: 10px;
}

.page-images > img:last-child {
  padding-bottom: 0px;
}