$website-max-width: 900px;
$content-max-width: 600px;

$animation-duration: 300ms;

$breakpoints: (
  'small': (max-width: 480px),
  'medium': (max-width: 768px),
  'large': (max-width: 1024px),
  'huge': (max-width: 1200px),
);